FrontendImplementation/FileBuddyDesktopClient/FileBuddyUI/obj/Debug/
BackendImplementation/FileBuddyBackend/FileBuddyDTO/obj/Debug/
BackendImplementation/FileBuddyBackend/WebSocketServer/obj/Debug/
BackendImplementation/FileBuddyBackend/API/obj/Debug/
BackendImplementation/FileBuddyBackend/BackendTests/bin/Debug/
BackendImplementation/FileBuddyBackend/BackendTests/obj/Debug/
FrontendImplementation/FileBuddyDesktopClient/FileBuddyClient/obj/Debug/
FrontendImplementation/FileBuddyDesktopClient/FileBuddyClient/bin/Debug/
FrontendImplementation/FileBuddyDesktopClient/FileBuddyUI/bin/Debug/
BackendImplementation/FileBuddyBackend/FileBuddyDTO/bin/Debug/
BackendImplementation/FileBuddyBackend/API/bin/Debug/
BackendImplementation/FileBuddyBackend/WebSocketServer/bin/Debug/
FileBuddy/API/bin/
FileBuddy/API/obj/
FileBuddy/.vs/FileBuddyProgram/v16/Server/sqlite3/storage.ide-wal
FileBuddy/.vs/
FileBuddy/BackendTests/obj/
FileBuddy/FileBuddyUI/bin/
FileBuddy/FileBuddyUI/obj/
FileBuddy/SharedResources/obj/
FileBuddy/SharedResources/bin/
FileBuddy/WebSocketServer/obj/
FileBuddy/WebSocketServerUI/bin/
FileBuddy/WebSocketServerUI/obj/
FileBuddy/WebSocketServer/bin/Debug/netcoreapp3.1/WebSocketServer.dll
FileBuddy/WebSocketServer/bin/
