FrontendImplementation/FileBuddyDesktopClient/FileBuddyUI/obj/Debug/
BackendImplementation/FileBuddyBackend/FileBuddyDTO/obj/Debug/
BackendImplementation/FileBuddyBackend/WebSocketServer/obj/Debug/
BackendImplementation/FileBuddyBackend/API/obj/Debug/
BackendImplementation/FileBuddyBackend/BackendTests/bin/Debug/
BackendImplementation/FileBuddyBackend/BackendTests/obj/Debug/
FrontendImplementation/FileBuddyDesktopClient/FileBuddyClient/obj/Debug/
FrontendImplementation/FileBuddyDesktopClient/FileBuddyClient/bin/Debug/
FrontendImplementation/FileBuddyDesktopClient/FileBuddyUI/bin/Debug/
BackendImplementation/FileBuddyBackend/FileBuddyDTO/bin/Debug/
